body{
    background-color: #2E3B41;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
.main{
    margin: 5em auto 0;
    width: 90%;
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 540px;
    max-width: 500px;
}
nav a {
    display: none;
}
nav{
    position: relative;
}
.burger-container{
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding: 2em;
}
.burger-menu{
    position: absolute;
    height: 5px;
    width: 35px;
    border-radius:5px;
    background-color: #2E3B41;
}
.burger-menu::before,
::after{
    height: 5px;
    width: 35px;
    border-radius:5px;
    background-color: #2E3B41;
}
.burger-menu::after{
    top: 10px;
    content:"";
    position: absolute;
}
.burger-menu::before{
    bottom: 10px;
    content:"";
    position: absolute;
}
.content-container{
    text-align: center;
    padding: 2em;
}
.button-container{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
a {
    padding: .5em;
    text-decoration: none;
    border-radius: 5px;
    justify-content: center;
    flex-grow: 1;
    margin: 5px;
}
#join-btn{
    background-color: #F88CAC;
    color: white;
}
#schedule-btn{
    background-color: #E9F0FD;
    color: #2E3B41;
}
.img-container{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    top: 450px;
}
#wave-one{
    width: 100%;
    height: 400px;
}
#wave-two{
    display: none;
}
svg{
    position: absolute;
    height: 300px;
    width: 300px;
}

/* ============== */
/* Desk-top View */
/* ============ */
@media(min-width:1024px){
    .desktop{
        position: relative;
        height: 100vh;
        width: 100%;
    }
    nav{
        display: flex;
        width: 75%;
        justify-content: center;
        margin: 2rem;
        margin-left: auto;
    }
    nav a {
        display: block;
        color: #2E3B41;
    }
    .burger-container{
        display: none;
    }
    .main{
        margin: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        height: 100%;
        max-width: initial;
        width: 50%;
    }
    .content-container{
        width: 70%;
        margin:10em auto;
        padding: 5em;
        max-width: 350px;
    }
    #content{
        text-align: left;
    }
    .img-container{
        bottom: 0;
        height: 100vh;
        align-items: center;
        top: 0;
    }
    #wave-one{
        display: none;
    }
    #wave-two{
        display: initial;
        width: 100%;
        height: 100%;
    }
    .img-container svg {
        height: 600px;
        width: 600px;
        left: -30px;
    }
}

@media(min-width:1440px){
    .content-container{
        max-width: 430px;
    }
    .img-container svg{
        left: 200px;
    }
}
@media(min-width:2560px){
    .img-container svg{
        left: -40px;
    }
}
